body {
    background-color: #36342C;
    color: #D0C9C2;
}

#listsD table {
    /* background-color: rgba(208, 201, 194, 0.149); */
    border: 2px solid #C6915D;

}


#listsD table th {
    border: 2px solid #D0C9C2;
    padding: 0.5%;
}
#listsD table td {
    border: 1px solid #D0C9C2;
    padding: 0.25%;
    text-align: center;
}